<fieldset>
 <legend>Create Meetup</legend>
 <form method="post" action="/meetups">
   <label for="name">Name</label>
   <input type="text" name="name" id="name" />
   <label for="location">Location</label>
   <input type="text" name="location" id="location" />
   <label for="description">Description</label>
   <input type="text" name="description" id="description" />
   <input type="submit" value="Submit" />
 </form>
</fieldset>
